language: cpp

compiler: gcc
  - gcc

before_install:
  - sudo add-apt-repository -y ppa:ubuntu-toolchain-r/test
  - sudo apt-get update -qq

install:
  - sudo apt-get install -qq g++-5
  - sudo update-alternatives --install /usr/bin/g++ g++ /usr/bin/g++-5 50
  - sudo update-alternatives --install /usr/bin/gcov gcov /usr/bin/gcov-5 90
  - export CXX="g++-5"

script:
  - $CXX --version
  - make
  - make test
  - ./get_code_cov.sh

after_success:
  - bash <(curl -s https://codecov.io/bash)
