language: cpp

compiler: gcc
  - gcc

before_install:
  - sudo add-apt-repository -y ppa:ubuntu-toolchain-r/test
  - sudo apt-get update -qq
  - pip install --user cpp-coveralls

install:
  - sudo apt-get install -qq g++-5
  - sudo update-alternatives --install /usr/bin/g++ g++ /usr/bin/g++-5 50
  - export CXX="g++-5"

script: 
  - $CXX --version
  - ./configure --enable-gcov
  - make
  - make test
  - make check

after_success:
  - coveralls --exclude lib --exclude tests --gcov-options '\-lp'
